# pandas 20本ノック

## 下準備

In [2]:

# driveのマウント
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# 読み込み用の仮data
dir_path = "/content/drive/MyDrive/DataSience/titanic/"

In [4]:
# import
import pandas as pd

## 問題20問

In [9]:
# 1 データの読み込み
df = pd.read_csv(dir_path+"train.csv")
print(len(df))

891

In [7]:
# 2 データの中身確認

# 先頭3行
df.head(3) #headは先頭から指定した行数を表示

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
# 末尾10行
df.tail(10) #tailは末尾から指定した行数を表示

In [13]:
# 3 不要な列、行の削除
df2 = df.copy()

# カラムの削除
df2 = df2.drop(columns=["Pclass"])
df2.head(1)

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [24]:
# 行の削除
df3 = df.copy()
df3 = df3.drop(0) #indexを指定して削除 複数は配列で指定
df3.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [31]:
# 4 データの型、サイズ、列名、行名の確認
print("データ型",df.dtypes) # dtypes

print("サイズ",df.shape) # DataFrameのサイズ

print("列名",df.columns) # columns

print("行名",df.index) # indexs

データ型 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
サイズ (891, 12)
列名 Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
行名 RangeIndex(start=0, stop=891, step=1)

In [34]:
# 5 任意の要素の取得

#dfの5～10行目 列名Age	SibSp	Parch
df4 = df[["Age","SibSp","Parch"]][5:11]

df4

     Age  SibSp  Parch
5    NaN      0      0
6   54.0      0      0
7    2.0      3      1
8   27.0      0      2
9   14.0      1      0
10   4.0      1      1

In [37]:
# 別回答
#dfの5～10行目 列名Age	SibSp	Parch
df5 = df.iloc[5:11,5:8] # iloc [行番号指定(0スタート),列番号指定]
# loc [行番号指定(index番号),カラム名で記載]

df5

     Age  SibSp  Parch
5    NaN      0      0
6   54.0      0      0
7    2.0      3      1
8   27.0      0      2
9   14.0      1      0
10   4.0      1      1